@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Raleway:wght@600&display=swap");

:root {
    --card-border-radius: 20px;
    --hover-image-size: 100px;
    --initial-image-size: 280px;
}

html {
    background-color: #172a74;
    background-image: linear-gradient(to right, #172a74, #21a9af);
    background-size: contain;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    color: white;
}

header {
    padding-top: 200px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 200px 80px 200px;
}

.title,
.name {
    font-size: 45px;
    padding: 0px;
    margin: 0px;
}

.title {
    font-size: 150px;
}

.subtitle {
    font-size: 30px;
    margin: 0px;
    margin-bottom: 60px;
}

.headshot {
    height: var(--hover-image-size);
    width: var(--hover-image-size);
    border-radius: 100px;
    margin: 10px;
    margin-bottom: 0px;
    box-shadow: 0 2px 2px 1px rgb(0 0 0 / 50%);
}

.role {
    margin: 0px;
    font-size: 20px;
    padding: 2px;
    color: black;
}

.heading-card {
    color: white;
    padding: 1px;
    background-color: #6495ed;
    border-radius: var(--card-border-radius) var(--card-border-radius) 0px 0px;
    text-align: center;
    /* height: 100%; */
}

/* FIND A WAY TO HOVER THEN VIEW INFORMATION */
/* .card-container {
} */

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 160px;
}

.description {
    text-align: center;
    font-size: 16px;
    margin: 0px;
}

.info-content {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 11px;
    justify-content: space-between;
}

svg {
    height: 12px;
    margin-right: -10;
}

.card {
    height: 400px;
    top: 0px;
    width: 300px;
    background-color: white;
    margin: 40px;
    border-radius: var(--card-border-radius);
    color: black;
    position: relative;
    transition: top 0.3s;
}

.card::before {
    content: "";
    width: 106%;
    height: 104%;
    border-radius: 25px;
    background-image: linear-gradient(
        var(--rotate),
        #5ddcff,
        #3c67e3 43%,
        #4e00c2
    );
    position: absolute;
    z-index: -1;
    top: -2%;
    left: -3%;
    animation: spin 2.5s linear infinite;
    box-shadow: 15px 15px 5px black;
}

.card:hover {
    top: -10px;
    cursor: default;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

@media only screen and (max-width: 1200px) {
    .title {
        font-size: 100px;
    }
    header {
        padding-top: 60px;
    }
}
