@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Raleway:wght@600&display=swap");

:root {
    --card-border-radius: 20px;
    --hover-image-size: 100px;
    --initial-image-size: 280px;
}

html {
    background-image: linear-gradient(to right, #172a74, #21a9af);
    background-size: contain;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    color: white;
}

header {
    padding-top: 200px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 200px 80px 200px;
}

.title,
.name {
    font-size: 45px;
    padding: 0px;
    margin: 0px;
}

.title {
    font-size: 150px;
}

.subtitle {
    font-size: 30px;
    margin: 0px;
    margin-bottom: 60px;
}

.headshot {
    height: var(--initial-image-size);
    width: var(--initial-image-size);
    border-radius: 50%;
    margin: 10px;
    margin-bottom: 0px;
    box-shadow: 0 2px 2px 1px rgb(0 0 0 / 50%);
}

.role {
    margin: 0px;
    font-size: 20px;
    padding: 2px;
    color: black;
}

.heading-card {
    color: white;
    padding: 1px;
    background-color: #6495ed;
    border-radius: var(--card-border-radius) var(--card-border-radius) 0px 0px;
    text-align: center;
}

.heading-card img {
    transition: height 300ms linear, width 300ms linear;
}

.card-container {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    max-height: 400px;
    background-color: #6495ed;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 160px;
    transform: translateY(200px);
    background-color: white;
    transition: transform 0.4s;
    /* cubic-bezier(0.18, 1.79, 0.75, 0.77) */
}

.description {
    text-align: center;
    font-size: 16px;
    margin: 0px;
}

.info-content {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 11px;
    justify-content: space-between;
}

svg {
    height: 12px;
    margin-right: -10;
}

.card {
    height: 400px;
    top: 0px;
    width: 300px;
    background-color: white;
    margin: 40px;
    border-radius: var(--card-border-radius);
    color: black;
    position: relative;
    transition: top 0.3s;
}

.card::before {
    content: "";
    width: 106%;
    height: 104%;
    border-radius: 25px;
    background-image: linear-gradient(
        var(--rotate),
        #5ddcff,
        #3c67e3 43%,
        #4e00c2
    );
    position: absolute;
    z-index: -1;
    top: -2%;
    left: -3%;
    animation: spin 2.5s linear infinite;
    box-shadow: 15px 15px 5px black;
}

.card:hover {
    top: -10px;
    cursor: default;
}

.card:hover .info-card {
    transform: translateY(0);
}

.card:hover img {
    height: var(--hover-image-size);
    width: var(--hover-image-size);
}

/* music */
.playpause {
    width: 35px;
    height: 35px;
    margin-top: 40px;
    background: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    clip-path: polygon(
        0 0,
        50% 25%,
        50% 75%,
        50% 75%,
        50% 25%,
        100% 50%,
        100% 50%,
        0% 100%
    );
}

.playpause.playing {
    clip-path: polygon(
        0 0,
        40% 0,
        40% 100%,
        60% 100%,
        60% 0,
        100% 0,
        100% 100%,
        0 100%
    );
}

#wave {
    position: absolute;
    width: 1000px;
    height: 75px;
    top: 115px;
}

.loader {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader .stroke {
    background: #f1f1f1;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1.4s linear infinite;
}

.stroke:nth-child(1) {
    animation-delay: 0s;
}
.stroke:nth-child(2) {
    animation-delay: 0.3s;
}
.stroke:nth-child(3) {
    animation-delay: 0.6s;
}
.stroke:nth-child(4) {
    animation-delay: 0.9s;
}
.stroke:nth-child(5) {
    animation-delay: 0.6s;
}
.stroke:nth-child(6) {
    animation-delay: 0.3s;
}
.stroke:nth-child(7) {
    animation-delay: 0s;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

@keyframes animate {
    50% {
        height: 20%;
        background: #4286f4;
    }

    100% {
        background: #4286f4;
        height: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .title {
        font-size: 100px;
    }
    header {
        padding-top: 60px;
    }
    #wave {
        width: 1000px;
        height: 40px;
        top: 115px;
    }
}
